
:root{
    --wisteria2: #9f91ad;
    --wisteria3: #8c7f99;
    --wisteria: #CAB8DD;
}


.content {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid var(--wisteria);
    background-color: rgba(159, 145, 173, 0.82);
    
}
.content img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}